In [77]:
!pip install pandas
import pandas as pd

Requirement already satisfied: pandas in c:\users\will bailey\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\will bailey\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in c:\users\will bailey\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\will bailey\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\will bailey\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [79]:
df = pd.read_csv('C:/Users/Will Bailey/Desktop/RWUCOMSC/comsc330/support/COMSC110S20.sec', sep='|', header=None)
df.drop(0)
df.columns = ['Data']
df = df.drop(0)

In [80]:
df[['Last Name', 'First Name', 'Student Id', 'Grade']] = df['Data'].str.split(',', expand=True)
df['Grade'] = df['Grade'].str.strip('"')
df

                               Data Last Name  First Name Student Id Grade
1        Pfssb, Hcfw,"6713436","C+"     Pfssb        Hcfw  "6713436"    C+
2        Pfckb, Owrob,"6758502","C"     Pfckb       Owrob  "6758502"     C
3        Qczs, Robwsz,"6704310","C"      Qczs      Robwsz  "6704310"     C
4      Qfin, Xsggwqo,"6724981","C+"      Qfin     Xsggwqo  "6724981"    C+
5  Rspzcwg, Qoggobrfo,"6719465","I"   Rspzcwg   Qoggobrfo  "6719465"     I
6      Vwzz, Psbxoawb,"6727795","W"      Vwzz    Psbxoawb  "6727795"     W

In [81]:
df = df[~df["Grade"].str.contains("I|W")]
df

                           Data Last Name First Name Student Id Grade
1    Pfssb, Hcfw,"6713436","C+"     Pfssb       Hcfw  "6713436"    C+
2    Pfckb, Owrob,"6758502","C"     Pfckb      Owrob  "6758502"     C
3    Qczs, Robwsz,"6704310","C"      Qczs     Robwsz  "6704310"     C
4  Qfin, Xsggwqo,"6724981","C+"      Qfin    Xsggwqo  "6724981"    C+

In [82]:
def convert_grade(grade):
    if grade == 'A':
        return 4.0
    elif grade == 'A-':
        return 3.7
    elif grade == 'B+':
        return 3.3
    elif grade == 'B':
        return 3.0
    elif grade == 'B-':
        return 2.7
    elif grade == 'C+':
        return 2.3
    elif grade == 'C':
        return 2.0
    elif grade == 'C-':
        return 1.7
    elif grade == 'D+':
        return 1.3
    elif grade == 'D':
        return 1.0
    elif grade == 'D-':
        return 0.7
    elif grade == 'F':
        return 0.0
    else:
        return 0.0
df['Numerical Grade'] = df['Grade'].apply(convert_grade)
avg_numerical_grade = df['Numerical Grade'].mean()

C:\Users\Will Bailey\AppData\Local\Temp\ipykernel_13768\853084602.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Numerical Grade'] = df['Grade'].apply(convert_grade)

In [83]:
print(avg_numerical_grade)

2.15

In [41]:
with open("TESTRUN.RUN", "r") as f:
    groups = f.readlines()

for i in range(len(groups)):
    groups[i] = groups[i].strip()
groups.pop(0)   
print(groups)

['COMSC110.GRP', 'COMSC200.GRP']

In [94]:
with open(groups[0], "r") as f:
    sections = f.readlines()
for i in range(len(sections)):
    sections[i] = sections[i].strip()
sections.pop(0)
print(sections)

['COMSC110S20.SEC', 'COMSC110S21.SEC']

In [99]:
with open(sections[0], "r") as f:
    lines = f.readlines()
for i in range(len(lines)):
    lines[i] = lines[i].strip()

df = pd.DataFrame(lines, columns=['Data'])
df

                                 Data
0                    COMSC110S20  3.0
1        "Pfssb, Hcfw","6713436","C+"
2        "Pfckb, Owrob","6758502","C"
3        "Qczs, Robwsz","6704310","C"
4      "Qfin, Xsggwqo","6724981","C+"
5  "Rspzcwg, Qoggobrfo","6719465","I"
6      "Vwzz, Psbxoawb","6727795","W"

In [96]:
def getSECGPA(df):   
    df = df.drop(0)
    df[['Last Name', 'First Name', 'Student Id', 'Grade']] = df['Data'].str.split(',', expand=True)
    df['Grade'] = df['Grade'].str.strip('"')
    df = df[~df["Grade"].str.contains("I|W")]
    df['Numerical Grade'] = df['Grade'].apply(convert_grade)
    avg_numerical_grade = df['Numerical Grade'].mean()
    return avg_numerical_grade

In [100]:
for i in range(len(sections)):
    with open(sections[i], "r") as f:
        lines = f.readlines()
    for x in range(len(lines)):
        lines[x] = lines[x].strip()
    
    df = pd.DataFrame(lines, columns=['Data'])
    gpas = (getSECGPA(df))      
    print(gpas)

2.15
2.0

In [ ]:
def getSECGPA(df):   
    df = df.drop(0)
    df[['Last Name', 'First Name', 'Student Id', 'Grade']] = df['Data'].str.split(',', expand=True)
    df['Grade'] = df['Grade'].str.strip('"')
    df = df[~df["Grade"].str.contains("I|W")]
    df['Numerical Grade'] = df['Grade'].apply(convert_grade)
    avg_numerical_grade = df['Numerical Grade'].mean()
    return avg_numerical_grade

In [157]:
#def getGRPGPA(run_Name):
gpa_list =[]
with open("TESTRUN.RUN", "r") as f:
    groups = f.readlines()
    groups.pop(0)

for i in range(len(groups)):
    groups[i] = groups[i].strip()
    with open(groups[i], "r") as f:
        sections = f.readlines()
    sections.pop(0)
               
    for y in range(len(sections)):
        sections[y] = sections[y].strip()
        with open(sections[y], "r") as f:
            lines = f.readlines() 
        lines.pop(0)      
        for j in range(len(lines)):
            lines[j] = lines[j].strip()
        df = pd.DataFrame(lines, columns=['Data'])
        gpa = (getSECGPA(df))
        gpa_list.append(gpa)

In [158]:
gpa_list[4]

3.3333333333333335

In [146]:
group_files = {}
#Create the dictionary 
def create_dict(run_name):  
    with open(run_name, "r") as f:
        groups = f.readlines()
    groups.pop(0)  

    #Add the GRP files from RUN file
    for i in range(len(groups)):
        groups[i] = groups[i].strip()
        group_files[groups[i]] = {}
create_dict("TESTRUN.RUN")

In [149]:
#Get the number of courses 
for i in range (len(group_files)):
    with open(groups[i], "r") as f:
        sections = f.readlines()
    sections.pop(0)

In [156]:
name = next(iter(group_files.keys()))
name

'COMSC110.GRP'

In [135]:
group_file = {"name": "GRP1", "Number of Courses": 0, "Number of Students": 5, "Number of Each Grade": 0,
              "Overall GPA": 0}
#section_file = {"name": "John Doe", "age": 35, "gender": "Male", "address": "123 Main Street, Anytown USA"}
group_file(0)

TypeError: 'dict' object is not callable